.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 5fr;
}


.form__bloco-campos {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.form__titulo {
	font-size: 36px;
	font-weight: normal;
	text-align: center;
}

.form__subtitulo {
	font-size: 18px;
	text-align: center;
	margin: 0 30px;
}

.form__label {
	display: block;
	margin: 30px 0 0 0;
	font-size: 18px;
}

.form__input {
	display: block;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #000000;
	margin-top: 10px;
	width: 40vw;
}

.form__input::placeholder {
	color: #808080;
	font-family: muliLight;
	font-size: 14px;
}

.form__button {
	background-color: #808080;
	border: none;
	color: #ffffff;
	padding: 20px 70px;
	margin-bottom: 50px; 
}

.form__button:hover {
	cursor: pointer;
	background-color: #5e5b5b;
}


@media screen and (max-width: 450px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	.form__input {
		width: 80vw;
	}
}

.social {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social__titulo {
	font-size: 1.8em;
	color: #1a1818;
}

.social__email a {
	font-size: 1.4em;
	font-style: normal;
	text-decoration: none;
}