@font-face {
    font-family: muliRegular;
    src: url('../_fonts/muliRegular.ttf');
}

@font-face {
    font-family: muliLight;
    src: url('../_fonts/muliLight.ttf');
}

@font-face {
    font-family: muliBlack;
    src: url('../_fonts/muliBlack.ttf');
}

@font-face {
    font-family: muliExtraLight;
    src: url('../_fonts/muliExtraLight.ttf');
}

.muliExtraLight { font-family: muliExtraLight; }
.muliLight      { font-family: muliLight; }
.muliRegular    { font-family: muliRegular; }
.muliBlack      { font-family: muliBlack; }

.menu__navegacao {
  display: inline-block;
  list-style:none;
}

.menu__links {
  color: #808080;
  text-decoration: none;
  font-size: 3vh;
}
