.rodape {
	display: flex;
	align-items: center;
	justify-content: space-around;	
}

.rodape__logo-list {
	padding: 0;
	list-style: none;
}

.rodape__logo-item {
	display: inline-block;
}

.logo {
	width: 32px;
	padding: 0 10px;
}

.rodape__nome-autor {
	text-align: center;
}

@media screen and (max-width: 420px) {
	.rodape {
		flex-direction: column;
		justify-content: center; 
	}
}