.container {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
  'menu'
  'conteudo'
  'rodape';
}

.menu {
  grid-area: menu;
}

.conteudo {
  grid-area: conteudo;
}

.rodape {
  grid-area: rodape;
}