.container {
  display: grid;
  grid-template-rows: .8fr 6fr .8fr;
  grid-template-areas:
  'menu'
  'conteudo'
	'rodape';
	height: 100vh;
}

.menu {
  grid-area: menu;
}

.conteudo {
	grid-area: conteudo;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.rodape {
	grid-area: rodape;
}