.container {
  display: grid;
  grid-template-rows: 1fr 5.5fr 1fr;
  grid-template-areas:
  'menu'
  'conteudo'
  'rodape';
}

.menu {
  grid-area: menu;
}

.conteudo {
	grid-area: conteudo;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.rodape {
  grid-area: rodape;
}