:root {
  --cor-fundo: #F7F7F7;
  --cor-titulo: #050505;
  --cor-texto: #969696;
}

.menu {
  background-color: var(--cor-fundo, #F7F7F7);
}

.menu {
  position: relative;
}

.conteudo {
	background-color: #808080;
}

.menu__logo {
  height: auto;
  margin: 10px 0 0 20px;
  max-width: 100%;
}

.menu__hamburguer {
  position: absolute;
  top: 25px;
  right: 20px;
}

.menu__close-button {
	display: none;
	position: absolute;
	top: 22px;
	right: 18px;
}

.menu__side-menu {
  background-color: #000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  width: 100%;
	z-index: 2;
	animation: fadeIn 500ms ease-in-out
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

.menu__side-link {
  color: var(--cor-texto, #808080);
  font-size: 2em;
  padding: 20px 0;
  text-decoration: none;
}